<!-- Header Component -->
<header>
    <nav>
        <div class="logo">Yannova</div>
        <ul class="nav-menu" id="nav-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="pages/over/index.html">Over</a></li>
            <li>
                <a href="pages/diensten/index.html">Aanbod</a>
                <div class="dropdown">
                    <a href="pages/diensten/index.html#ramen">Ramen</a>
                    <a href="pages/diensten/index.html#deuren">Deuren</a>
                    <a href="pages/diensten/index.html#schuifdeuren">Schuifdeuren</a>
                    <a href="pages/diensten/index.html#garagedeuren">Garagedeuren</a>
                </div>
            </li>
            <li><a href="pages/projecten/index.html">Projecten</a></li>
            <li><a href="pages/contact/index.html">Contact</a></li>
        </ul>
        <div class="menu-toggle" id="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
